.tableWrapper {
  width: 100%;
  background-color: white;
  border-radius: 0.75rem;
  box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.04);
  transition: transform 0.2s ease;
  box-sizing: border-box;
  margin-top: 1rem;
}
.tableWrapper:hover {
  transform: translateY(-3px);
}
.tableHeader,
.tableBody {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  font-size: 0.875rem;
}
.scrollBody {
  max-height: 14rem;
  overflow-y: auto;
}
.tableWrapper th,
.tableWrapper td {
  padding: 0.625rem;
  border-bottom: 1px solid #eee;
  text-align: center;
}
.colCreated {
  width: 15%;
}
.colTitle {
  width: 25%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.colUser {
  width: 15%;
}
.colResult {
  width: 45%;
}
td.colResult {
  color: red;
}
.colResult button {
  border: none;
  outline: none;
  background: #f2f2f2;
  padding: 0.3rem 0.6rem;
  border-radius: 10px;
}
