@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  background-color: #f9f9fc;
  padding: 2rem 5rem;
  width: 100%;
  margin: 0 auto;
  gap: 2rem;
}

.header {
  width: 100%;
  margin-bottom: 1rem;
}

.pageTitle {
  font-size: 3rem;
  font-weight: 500;
  color: #000000;
  margin-top: 20px;
  margin-bottom: 2rem;
}

.progressWrapper {
  display: flex;
  align-items: center;
  width: 80%;
  margin-left: 3rem;
  margin-top: 2rem;
}

.progressBar {
  flex: 1;
  height: 6px;
  background: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
}

.progressFill {
  background: #d2c4fc;
  height: 100%;
  transition: width 0.3s ease;
}

.progressText {
  margin-left: 1rem;
  font-size: 1.2rem;
  color: #7c3aed;
  font-weight: 700;
}

.section {
  width: 100%;
  max-width: 1000px;
}

.questionBox {
  width: 100%;
  background: none;
}

.questionTitle {
  font-size: 2.5rem;
  font-weight: 600;
  color: #2b3a4b;
  text-align: center;
  margin-bottom: 2.5rem;
}

.questionNumber {
  color: #7c3aed;
  margin-right: 0.5rem;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.optionButton {
  width: 100%;
  max-width: 800px;
  padding: 1.5rem;
  background: #ffffff;
  border: none;
  border-radius: 24px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  color: #545d69;
  font-size: 1.4rem;
  transition: 0.4s ease;
}

.optionButton:hover {
  background-color: #c1b0f0;
  color: white;
  transform: translateY(-5px);
}

/* 결과 */
.resultContainer {
  width: 100%;
  max-width: 800px;
  margin: 2rem auto;
  text-align: center;
}
.resultHeader {
  margin-bottom: 1.5rem;
  font-family: "S-CoreDream-3Light";
}
.resultContainer h2 {
  font-family: "S-CoreDream-3Light";
}
.resultSubtitle {
  font-size: 27px;
  color: #545d69;
  margin-bottom: 1rem;
}
.resultHeading {
  font-size: 3rem;
  font-weight: 600;
  color: #000;
}

.resultImageLarge {
  width: 100%;
  max-width: 500px;
  margin: 1rem 0;
  border-radius: 20px;
}

.resultDescBox {
  margin: auto;
  font-weight: 500;
  font-size: 1.15rem;
  padding: 1rem 0;
  max-width: 600px;
  justify-items: center;
  word-break: keep-all;
  padding-left: 1.5rem;
}
.resultDescBox ul {
  font-weight: 500;
  font-size: 1.4rem;
  text-align: left;
  line-height: 1.8;
}
.resultDescBox ul li {
  text-align: left;
  font-family: "S-CoreDream-3Light";
}
.resultSubDesc {
  font-size: 2rem;
  font-family: "S-CoreDream-3Light";
}

.buttonGroup {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  max-width: 600px;
  margin: 0 auto;
}
.buttonGroup button {
  font-size: 20px;
  transition: 0.3s ease;
  padding: 0.75rem;
  border-radius: 24px;
}
.primaryButton {
  background: #c7bce4;
  border: none;
}
.outlinedButton {
  background: #fff;
  border: 2px solid #d2c4fc;
}

.outlinedButton:hover,
.primaryButton:hover {
  background: #5f41b2;
  color: #fff;
  transform: translateY(-5px);
}

@media (max-width: 1410px) {
  .main {
    margin-left: 0;
  }
}
